.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.employee-form {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-field {
  border-radius: 8px !important;
  border: 1px solid #ddd;
  padding: 4px;
  height: 44px;
}

.fui-PopupSurface {
  background-color: #fff !important;
  border: 1px solid #ddd !important;
  border-radius: 8px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
}

.fui-Calendar {
  background-color: #fff !important;
  border-radius: 8px !important;
}

.form-actions {
  display: flex;
  justify-content: center;
}

.employee-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  background-color: var(--primary-color);
  margin-top: -56px;
  margin-left: -24px;
  width: 596px;
}

.employee-modal-text {
  margin-left: 10px;
  color: #fff;
}

.dropdown-options {
  padding: 6px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
}

.save-btn {
  padding: 8px 30px;
  border-radius: 50px;
  background-color: var(--primary-color);
  color: white;
}

.save-btn:hover {
  background-color: var(--primary-color);
  color: white;
}
