.table-wrapper {
  width: 100%;
  overflow-x: auto; 
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

@media (max-width: 768px) {
  .custom-table th,
  .custom-table td {
    padding: 6px 4px;
    font-size: 14px;
    min-width: 100%; 
  }

  .custom-table select {
    padding: 6px 6px;
    font-size: 14px;
  }

  .custom-table button {
    padding: 4px;
  }
}

@media (max-width: 480px) {
  .custom-table th,
  .custom-table td {
    font-size: 12px;
    padding: 4px 2px;
    min-width: 60px;
  }

  .custom-table select {
    font-size: 12px;
    padding: 4px 4px;
  }
}
